{% extends 'layout.html' %}
{% block content %}

<script>
    function commit_msgbox(){
        document.getElementById('git_commit_show_msgbox').style.display = 'none';
        document.getElementById('git_menu_commit').style.display = 'block';
    }
</script>
<script src="https://cdn.jsdelivr.net/npm/@gitgraph/js"></script>


<aside class="sidebar_git" style="position:fixed;width:20vw;height:50vh;right:0;display: flex;overflow-y:scroll;">
    <div id="historyWrap" style="width:100%;min-height:10vh; background-color: #ffff99;">
    </div>
</aside>

<aside class="sidebar_git" style="position:fixed;width:17%;height:100vh;">
    <nav class="nav">
        <ul>
            <!--
                ============================================================
                OSS CODE
                - git init
                - git commit
                - parsed git status
            -->
            <label style="font-size:large;font-weight:bold;">Git Menu</label>
            {% if isgit==false %}
                <li>
                    <form id="git_menu_init" class="git" action="/git_init/{{currentDir}}" method="POST">
                        <button id="git_init" class="git" style="margin-bottom:6px; margin-top:3px;">Git Init</button>
                    </form>
                </li>
            {% endif %}

            {% if isgit==True %}
                {% if parsed_status["staged"]|length >0 %}
            <li>
                <form id="git_menu_commit" class="git" action="/git_commit/{{currentDir}}" method="POST" style="display:none;">
                    <button id="git_commit" class="git" style="margin-bottom:6px;margin-top:3px;">Git Commit</button>
                    <input id="commit_msg" class="git" name="commit_msg" type="text" style="width:100%;" placeholder="please input commit message">
                </form>
                <button id="git_commit_show_msgbox" class="git" style="margin-bottom:6px;margin-top:3px;" onclick="commit_msgbox()">Git Commit</button>
            </li>
                {% endif %}
            <hr style="width:100%;color:black;";>

            {% if parsed_status["staged"]|length >0 %}
            <label style="font-size:medium;font-weight:bold;">staged</label>
            {% endif %}
            {% for item in parsed_status["staged"] %}
            <div class="git_status_staged">
                <ul>
                    <li>
                        <p style="color:black;" data-toggle="tooltip" data-placement="right">
                            {{item}}
                        </p>
                    </li>
                </ul>
            </div>
            {% endfor %}

            {% if parsed_status["modified"]|length >0 %}
            <label style="font-size:medium;font-weight:bold;">modified</label>
            {% endif %}
            {% for item in parsed_status["modified"] %}
            <div class="git_status_modified">
                <ul>
                    <li>
                        <p style="color:black;" data-toggle="tooltip" data-placement="right">
                            {{item}}
                        </p>
                    </li>
                </ul>
            </div>
            {% endfor %}

            {% if parsed_status["untracked"]|length >0 %}
            <label style="font-size:medium;font-weight:bold;">untracked</label>
            {% endif %}
            {% for item in parsed_status["untracked"] %}
            <div class="git_status_untracked">
                <ul>
                    <li>
                        <p style="color:black;" data-toggle="tooltip" data-placement="right">
                            {{item}}
                        </p>
                    </li>
                </ul>
            </div>
            {% endfor %}
            <hr style="width:100%;color:black;";>
            <!--
                차후에 git status / git log를 표시하기 위한 공간
            -->
            {% endif %}            
            <!--
                Done
                ============================================================
            -->
        </ul>
    </nav>
</aside>

<section class="main" style="float:right;width:100%;";>
<div id ="view0_container" class = "container"  {{ default_view_css_1 }} >
    <div class = "row"><h5></h5></div>


<div class = "row">

{% for k,dir_i in dir_dict.items() %}

<div class="col-md-2 col-sm-4 col-6 mt-2">
    <div class="thumbnail hvr-shadow">
        <a href="/files/{{dir_i.currentDir}}/{{dir_i.f_url}}">
            <img src = '/static/{{dir_i.image}}' class='img-thumbnail' style="border:0px;"/>
            <p style="color:black; text-align:center; text-decoration:none;">
                <p style="color:black;" data-toggle="tooltip" data-placement="right" title="{{dir_i.f_complete}}">
                {{ dir_i.f }}
                </p>
            </p>
        </a>                

        
    </div>
    </div>

{% endfor %}

</div>



<div class = "row mt-4"><h5></h5></div> <hr>

<div class = "row">

    {% for k,dir_i in file_dict.items() %}
    
    <div class="col-md-2 col-sm-4 col-6 mt-2">
    
        <div class="thumbnail hvr-shadow">
            
            <a href="/download/{{dir_i.currentDir}}/{{dir_i.f_url}}">
                <img src = '/static/{{dir_i.image}}' class='img-thumbnail' style="border:0px;object-fit:fill;width:150px;height:150px;"/>
                <p style="color:black; text-align:center; text-decoration:none;">
                    <p style="color:black;" data-toggle="tooltip" data-placement="right" title="{{dir_i.f_complete}}">
                        {{ dir_i.f }}
                    </p>
                </p>
            </a>

            <!--
                ============================================================
                OSS code
                - git add
                - git restore
                - git rm --cached (untracking)
                - git rm (deleting)
                - git mv (renaming)
            -->

            {% if dir_i.state in ["untracked", "modified"] %}
                <form id="git_menu_add" class="git" action="/git_add/{{currentDir}}/{{dir_i.f_complete}}" method="POST" >
                    <button id="git_add" class="git" style="margin-bottom:6px; margin-top:3px;">Git Add</button>
                </form>
            {% endif %}

			{% if dir_i.state in ["modified", "staged"] %}
            <form id="git_menu_restore" class="git" action="/git_restore/{{currentDir}}/{{dir_i.f_complete}}/{{dir_i.state}}" method="POST">
                <button id="git_restore" class="git" style="margin-bottom:6px;margin-top:3px;">Git Restore</button>
            </form>
            {% endif %}

            {% if dir_i.state == "committed" %}
            <form id="git_menu_untracking" class="git" action="/git_rm_u/{{currentDir}}/{{dir_i.f_complete}}/{{dir_i.state}}" method="POST">
                <button id="git_untracking" class="git" style="margin-bottom:6px;margin-top:3px;">Untracking</button>
            </form>

            <form id="git_menu_deleting" class="git" action="/git_rm_d/{{currentDir}}/{{dir_i.f_complete}}/{{dir_i.state}}" method="POST">
                <button id="git_deleting" class="git" style="margin-bottom:6px;margin-top:3px;">Deleting</button>
            </form>

            <form id="git_menu_renaming{{dir_i.f_complete}}" class="git" action="/git_mv/{{currentDir}}/{{dir_i.f_complete}}" method="POST" style="display:none;">
                <input id="mv_name" class="git" name="mv_name" type="text" placeholder="rename" style="width:150px;">
                <button id="git_mv" class="git">Renaming</button>
            </form>
            <button id="btn_git_renaming{{dir_i.f_complete}}" class="git" style="margin-bottom:6px;margin-top:3px;" onclick="mv_box(this)">Renaming</button>
            {% endif %}
            <!--
                Done
                ============================================================
            -->

            <!--
                ============================================================
                OSS CODE
                - git mv msg box
            -->
            <script>
                function mv_box(param){
                    param.style.display = 'none'
                    document.getElementById('git_menu'+(param.id).slice(7)).style.display = 'block';
                }
            </script>
            <!--
                Done
                ============================================================
            -->
        </div>
        </div>
    {% endfor %}
    </div>
</div>





<div id ="view1_container" class = "container" {{ default_view_css_2 }} >
    <div class = "row mt-4">
        <div class="col-3 mb-2" style=" text-align:center;" ><b>Name</b><hr></div>
        <div class="col-3" style=" text-align:center;" ><b>Created Time</b><hr></div>
        <div class="col-3" style=" text-align:center;"><b>Modified Time</b><hr></div>
        <div class="col-3" style=" text-align:center;"><b>Size</b><hr></div>
</div>

<div class = "row">


    {% for k,dir_i in dir_dict.items() %}

    <div class="col-3" style="margin-bottom:-10px">

        <a href="/files/{{dir_i.currentDir}}/{{dir_i.f_url}}">
        
            <img src = '/static/{{dir_i.image}}'  style="position:absolute; height:25px; width:25px; border:0px;"/>

            <p style="margin-left:35px; color:black; text-align:left; text-decoration:none;">
                {{dir_i.f}}
            </p>
        </a>
        
    </div>
    <div class="col-3" style="margin-bottom:-10px"><p style="margin-left:45px;">{{dir_i.dtc}}</p></div>
    <div class="col-3" style="margin-bottom:-10px"><p style="margin-left:45px;">{{dir_i.dtm}}</p></div>
    <div class="col-3" style="margin-bottom:-10px; "><p style="margin-left:110px;">{{dir_i.size}}</p></div>

    {% endfor %}
</div>

<div class = "row mt-4"><h5></h5></div> <hr><div class = "row mt-4"></div>

<div class = "row">


    {% for k,dir_i in file_dict.items() %}

    <div class="col-3" style="margin-bottom:-10px">

        <a href="/download/{{dir_i.currentDir}}/{{dir_i.f_url}}">
        
            <img src = '/static/{{dir_i.image}}'  style="position:absolute; height:25px; width:25px; border:0px;"/>

            <p style="margin-left:35px; color:black; text-align:left; text-decoration:none;">
            {{dir_i.f}}
            </p>
        </a>
        
    </div>
    <div class="col-3" style="margin-bottom:-10px"><p style="margin-left:45px;">{{dir_i.dtc}}</p></div>
    <div class="col-3" style="margin-bottom:-10px"><p style="margin-left:45px;">{{dir_i.dtm}}</p></div>
    <div class="col-3" style="margin-bottom:-10px; "><p style="margin-left:110px;">{{dir_i.size}}</p></div>

    {% endfor %}
</div>

</div>

</section>

<script>
    console.log('where');
    const commitHistory = {{commit_history|tojson}};
    const branchHeads = {{branch_heads|tojson}};
    const branchRevList = {{branch_rev_list|tojson}};
    const headBranch = "{{head_branch|lower}}";
    let branchLog = new Map();

    console.log(commitHistory.toReversed());
    console.log(headBranch);

    // console.log(Object.entries(commitHistory)[0][1]);
    // console.log(typeof(Object.entries(commitHistory)[0][1].time));

    const options = {
        template: GitgraphJS.templateExtend("metro", {
            colors: ["#264653", "#e76f51", "#e9c46a", "#f4a261"],
            branch: {
                lineWidth: 4,
                spacing: 20,
            },
            commit: {
                dot: {
                    size: 8,
                },
                spacing: 40,
            }
        })
    };

    const graphContainer = document.getElementById("historyWrap");
    const gitGraph = GitgraphJS.createGitgraph(graphContainer, options);

    const branchList = {};
    branchList[headBranch] = gitGraph.branch(headBranch);

    commitHistory.toReversed().forEach(({commitHexa : hexa, commitInfo : info}) => {
        // console.log(hexa);
        if (info.parents.length === 0) {
            branchList[headBranch].commit({
                subject: info.message,
                hash: hexa,
                author: info.author,
            })
        }
        if (info.parents.length === 2) {
            let [parent1, parent2] = info.parents;
            console.log(hexa)
            console.log(parent1, parent2);

            const parentBranch1 = commitHistory.find(obj => obj.commitHexa === parent1).commitInfo.branches;
            const parentBranch2 = commitHistory.find(obj => obj.commitHexa === parent2).commitInfo.branches;

            console.log(parentBranch1);
            console.log(parentBranch2);

            const branchShare1 = parentBranch1.filter(v => info.branches.includes(v) && Object.keys(branchList).includes(v));
            const branchShare2 = parentBranch2.filter(v => info.branches.includes(v) && Object.keys(branchList).includes(v));

            console.log(branchShare1);
            console.log(branchShare2);
            if (branchShare1.length) {
                try {
                branchList[branchShare1[0]].merge({
                    branch: parentBranch2[0], 
                    commitOptions: {
                        subject: info.message,
                        hash: hexa,
                        author: '',
                    }
                })} catch (e) {
                    console.error(e)
                }
            } else {
                try {
                    branchList[branchShare2[0]].merge({
                        branch: parentBranch1[0], 
                        commitOptions: {
                            subject: info.message,
                            hash: hexa,
                            author: '',
                        }
                    })
                } catch (e) {
                    console.error(e)
                }

            }
            // const branchExist = branchShare.filter(v => Object.keys(branchList).includes(v));

        }

        if (info.parents.length === 1) {
            let parent = info.parents[0];
            const parentCommit = commitHistory.find(obj => obj.commitHexa === parent);
            // console.log(parent);
            // console.log(parentCommit);
            const branchShare = parentCommit.commitInfo.branches.filter(v => info.branches.includes(v));
            const branchExist = branchShare.filter(v => Object.keys(branchList).includes(v));
            if (branchExist.length) {
                branchList[branchExist[0]].commit({
                    subject: info.message,
                    hash: hexa,
                    author: info.author,
                })
            } else {
                // console.log(branchShare);
                // console.log(hexa);
                branchList[branchShare[0]] = gitGraph.branch({
                    name: branchShare[0],
                    from: parent,
                })
                branchList[branchShare[0]].commit({
                    subject: info.message,
                    hash: hexa,
                    author: info.author,
                })
            }
            // console.log(branchShare);
            // console.log(branchExist);
        }

    })


    // Simulate git commands with gitGraph API.

    // for (let branchName of Object.keys(branchHeads)) {
    //     branchList[branchName] = gitGraph.branch(elementId = branchName);
    // }

    // console.log(branchList);


    // console.log(branchLog);



    // for ( let [branchName, branchInfo] of branchLog) {
    //     console.log(branchName);

    //     branchList[branchInfo.branches[0]].commit({
    //         subject: branchInfo.message,
    //         hash: branchName,
    //         author: branchInfo.author,
    //         parents: branchInfo.parents,
    //     })
    // }

    



    // master.commit({
        // subject: "Initial commit",
        // hash: "17fb5029ebbc01cc75ad3b6ef777d2d5db84226a",
        // author: "hello"
    // });

    // console.log(master.commit);

    // const develop = master.branch("develop");
    // develop.commit("Add TypeScript");

    // const aFeature = develop.branch("a-feature");
    // aFeature
    //   .commit("Make it work")
    //   .commit("Make it right")
    //   .commit("Make it fast");

    // develop.merge(aFeature);
    // develop.commit("Prepare v1");

    // master.merge(develop).tag("v1.0.0");

</script>

<style>
    #historyWrap svg text{
        font: normal 7pt Arial !important;
        /* transform: translateX(30px); */
    }
</style>

{% endblock content %}