{% extends 'layout.html' %}
{% block content %}

<script>
    function commit_msgbox(){
        document.getElementById('git_commit_show_msgbox').style.display = 'none';
        document.getElementById('git_menu_commit').style.display = 'block';
    }
</script>


<!--=============================
    Feature 1 : Branch Management 
    =============================-->

{% if isgit==True %}

<style>
    .branch {margin-bottom:6px; margin-top:3px;}
</style>

<aside style="position:fixed;right:5vw;width:10vw;height:100vh;">
 <div class="branch menu tab" style="font-size:large;font-weight:bold;"> Branch Menu</div>
 <hr style="width:100%;color:black;";>
 <ul>

    <!-- 모달 폼 버튼
        Create/Checkout/Delete/Rename
        ** 클릭하면 body:padding-right 값 변하여 버튼이 밀리는 문제있음 -->
        <li>
            <button type="button" class="branch" data-toggle="modal" data-backdrop="static" data-target="#create_modal">
             Create
            </button>
           </li>
           <li>
            <button type="button" class="branch" data-toggle="modal" data-backdrop="static" data-target="#checkout_modal">
             Checkout
            </button>
           </li>
           <li>
            <button type="button" class="branch" data-toggle="modal" data-backdrop="static" data-target="#delete_modal">
             Delete
            </button>
           </li>
           <li>
            <button type="button" class="branch" data-toggle="modal" data-backdrop="static" data-target="#rename_modal">
             Rename
            </button>
           </li>
          </ul>
         </aside>

 <!-- create 버튼 클릭 시 나타나는 폼 -->
 <div class="modal fade" id="create_modal" tabindex="-1" aria-disabled="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <label for="create_text" style="display:inline" class="modal-title">
            <h3>Create a new branch</h3>
          </label>
          <button type="button" class="close" data-dismiss="modal">
            <span>&times;</span>
          </button>
        </div>
        <form action="/create_branch/{{currentDir}}" id="create_form" method="POST">
        <div class="modal-body">
            <input type="text" id="create_text" name="create_text" placeholder="Enter branch name" style="width:100%;font-size:150%;" required>
          </div>
        <div class="modal-footer">
           <button type="submit" class="btn btn-primary">Confirm</button>
           <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
       </form>
      </div>
     </div>
    </div>

    <!-- checkout 버튼 클릭 시 나타나는 폼 -->
  <div class="modal fade" id="checkout_modal" tabindex="-1" aria-disabled="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <label for="checkout_text" style="display:inline" class="modal-title">
            <h3>Select a branch to checkout</h3>
          </label>
          <button type="button" class="close" data-dismiss="modal">
            <span>&times;</span>
          </button>
        </div>
        <form action="/checkout_branch/{{currentDir}}" id="checkout_form" method="POST">
          <div class="modal-body">
            <select class="form-select form-select-lg mb-1" id="checkout_text" name="checkout_text" style="width:100%;font-size:150%;">
            {% for name in branch_list %}
            {% if name==currentBranch_name %}
            <option style="color:red;font-weight:bold;" disabled> {{name}} </option>
            {% else %}
            <option> {{name}} </option>
            {% endif %}
            {% endfor %}
            </select>
          </div>
         <div class="modal-footer">
           <button type="submit" id="checkout_btn" class="btn btn-primary">Confirm</button>
           <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
         </div>
        </form>
      </div>
    </div>
  </div>

  <!-- delete 버튼 클릭 시 나타나는 폼 -->
  <div class="modal fade" id="delete_modal" tabindex="-1" aria-disabled="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <label for="delete_text" style="display:inline" class="modal-title">
            <h3>Select a branch to delete</h3>
          </label>
          <button type="button" class="close" data-dismiss="modal">
            <span>&times;</span>
          </button>
        </div>
        <form action="/delete_branch/{{currentDir}}" method="POST">
          <div class="modal-body">
            <select class="form-select form-select-lg mb-1" id="delete_text" name="delete_text" style="width:100%;font-size:150%;">
            {% for name in branch_list %}
            {% if name==currentBranch_name %}
            <option style="color:red;font-weight:bold;" disabled> {{name}} </option>
            {% else %}
            <option> {{name}} </option>
            {% endif %}
            {% endfor %}
            </select>
            <div id="delete_err" style="color:red;font-weight:bold"></div>
          </div>
         <div class="modal-footer">
           <button type="submit" id="delete_btn" class="btn btn-primary">Confirm</button>
           <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
         </div>
        </form>
      </div>
    </div>
  </div>

  <!-- rename 버튼 클릭 시 나타나는 폼 -->
  <div class="modal fade" id="rename_modal" tabindex="-1" aria-disabled="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <label for="rename_select" style="display:inline" class="modal-title">
            <h3>Select a branch to rename</h3>
          </label>
          <button type="button" class="close" data-dismiss="modal">
            <span>&times;</span>
          </button>
        </div>
        <form action="/rename_branch/{{currentDir}}" id="rename_form" method="POST">
          <div class="modal-body">
            <select class="form-select form-select-lg mb-1" id="rename_select" name="rename_select" style="width:100%;font-size:150%;">
            {% for name in branch_list %}
            {% if name==currentBranch_name %}
            <option style="font-weight:bold;" selected> {{name}} </option>
            {% else %}
            <option> {{name}} </option>
            {% endif %}
            {% endfor %}
            </select>
            <input type="text" id="rename_text" name="new_name" placeholder="Enter a new branch name" style="width:100%;font-size:150%;" required>
          </div>
         <div class="modal-footer">
           <button type="submit" id="checkout_btn" class="btn btn-primary">Confirm</button>
           <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
         </div>
        </form>
      </div>
    </div>
  </div>


<script>
const create_modal = $('#create_modal')
const create_form = $('#create_form')
const create_text = $('#create_text')

const checkout_modal = $('#checkout_modal')
const checkout_form = $('#checkout_form')
const checkout_text = $('#checkout_text')

const delete_modal = $('#delete_modal')
const delete_btn = $('#delete_btn')
const delete_text = $('#delete_text')

const rename_modal = $('#rename_modal')
const rename_form = $('#rename_form')
const rename_select = $('#rename_select')
const rename_text = $('#rename_text')


$(function() {
create_modal.on('show.bs.modal', function() {
  create_text.val('')
})



})



</script>
{% endif %}
<!-- ============================================ -->

<aside class="sidebar_git" style="position:fixed;width:17%;height:100vh;">
    <nav class="nav">
        <ul>
            {% if isgit==false %}
                <li>
                    <form id="git_menu_init" class="git" action="/git_init/{{currentDir}}" method="POST">
                        <button id="git_init" class="git" style="margin-bottom:6px; margin-top:3px;">Git Init</button>
                    </form>
                </li>
            {% endif %}

            <label style="font-size:large;font-weight:bold;">Git Menu</label>
            <!--
                Done
                ============================================================
            -->
        </ul>
    </nav>
</aside>

<section class="main" style="float:right;width:100%;";>
<div id ="view0_container" class = "container"  {{ default_view_css_1 }} >
    <div class = "row"><h5></h5></div>


<div class = "row">

{% for k,dir_i in dir_dict.items() %}

<div class="col-md-2 col-sm-4 col-6 mt-2">
    <div class="thumbnail hvr-shadow">
        <a href="/files/{{dir_i.currentDir}}/{{dir_i.f_url}}">
            <img src = '/static/{{dir_i.image}}' class='img-thumbnail' style="border:0px;"/>
            <p style="color:black; text-align:center; text-decoration:none;">
                <p style="color:black;" data-toggle="tooltip" data-placement="right" title="{{dir_i.f_complete}}">
                {{ dir_i.f }}
                </p>
            </p>
        </a>                

        
    </div>
    </div>

{% endfor %}

</div>



<div class = "row mt-4"><h5></h5></div> <hr>

<div class = "row">

    {% for k,dir_i in file_dict.items() %}
    
    <div class="col-md-2 col-sm-4 col-6 mt-2">
    
        <div class="thumbnail hvr-shadow">
            
            <a href="/download/{{dir_i.currentDir}}/{{dir_i.f_url}}">
                <img src = '/static/{{dir_i.image}}' class='img-thumbnail' style="border:0px;object-fit:fill;width:150px;height:150px;"/>
                <p style="color:black; text-align:center; text-decoration:none;">
                    <p style="color:black;" data-toggle="tooltip" data-placement="right" title="{{dir_i.f_complete}}">
                        {{ dir_i.f }}
                    </p>
                </p>
            </a>

            {% if dir_i.state in ["untracked", "modified"] %}
                <form id="git_menu_add" class="git" action="/git_add/{{currentDir}}/{{dir_i.f_complete}}" method="POST" >
                    <button id="git_add" class="git" style="margin-bottom:6px; margin-top:3px;">Git Add</button>
                </form>
            {% endif %}

			{% if dir_i.state in ["modified", "staged"] %}
            <form id="git_menu_restore" class="git" action="/git_restore/{{currentDir}}/{{dir_i.f_complete}}/{{dir_i.state}}" method="POST">
                <button id="git_restore" class="git" style="margin-bottom:6px;margin-top:3px;">Git Restore</button>
            </form>
            {% endif %}

            {% if dir_i.state == "committed" %}
            <form id="git_menu_untracking" class="git" action="/git_rm_u/{{currentDir}}/{{dir_i.f_complete}}/{{dir_i.state}}" method="POST">
                <button id="git_untracking" class="git" style="margin-bottom:6px;margin-top:3px;">Untracking</button>
            </form>

            <form id="git_menu_deleting" class="git" action="/git_rm_d/{{currentDir}}/{{dir_i.f_complete}}/{{dir_i.state}}" method="POST">
                <button id="git_deleting" class="git" style="margin-bottom:6px;margin-top:3px;">Deleting</button>
            </form>

            <form id="git_menu_renaming{{dir_i.f_complete}}" class="git" action="/git_mv/{{currentDir}}/{{dir_i.f_complete}}" method="POST" style="display:none;">
                <input id="mv_name" class="git" name="mv_name" type="text" placeholder="rename" style="width:150px;">
                <button id="git_mv" class="git">Renaming</button>
            </form>
            <button id="btn_git_renaming{{dir_i.f_complete}}" class="git" style="margin-bottom:6px;margin-top:3px;" onclick="mv_box(this)">Renaming</button>
            {% endif %}
            <!--
                Done
                ============================================================
            -->

            <!--
                ============================================================
                OSS CODE
                - git mv msg box
            -->
            <script>
                function mv_box(param){
                    param.style.display = 'none'
                    document.getElementById('git_menu'+(param.id).slice(7)).style.display = 'block';
                }
            </script>
            <!--
                Done
                ============================================================
            -->
        </div>
        </div>
    {% endfor %}
    </div>
</div>





<div id ="view1_container" class = "container" {{ default_view_css_2 }} >
    <div class = "row mt-4">
        <div class="col-3 mb-2" style=" text-align:center;" ><b>Name</b><hr></div>
        <div class="col-3" style=" text-align:center;" ><b>Created Time</b><hr></div>
        <div class="col-3" style=" text-align:center;"><b>Modified Time</b><hr></div>
        <div class="col-3" style=" text-align:center;"><b>Size</b><hr></div>
</div>

<div class = "row">


    {% for k,dir_i in dir_dict.items() %}

    <div class="col-3" style="margin-bottom:-10px">

        <a href="/files/{{dir_i.currentDir}}/{{dir_i.f_url}}">
        
            <img src = '/static/{{dir_i.image}}'  style="position:absolute; height:25px; width:25px; border:0px;"/>

            <p style="margin-left:35px; color:black; text-align:left; text-decoration:none;">
                {{dir_i.f}}
            </p>
        </a>
        
    </div>
    <div class="col-3" style="margin-bottom:-10px"><p style="margin-left:45px;">{{dir_i.dtc}}</p></div>
    <div class="col-3" style="margin-bottom:-10px"><p style="margin-left:45px;">{{dir_i.dtm}}</p></div>
    <div class="col-3" style="margin-bottom:-10px; "><p style="margin-left:110px;">{{dir_i.size}}</p></div>

    {% endfor %}
</div>

<div class = "row mt-4"><h5></h5></div> <hr><div class = "row mt-4"></div>

<div class = "row">


    {% for k,dir_i in file_dict.items() %}

    <div class="col-3" style="margin-bottom:-10px">

        <a href="/download/{{dir_i.currentDir}}/{{dir_i.f_url}}">
        
            <img src = '/static/{{dir_i.image}}'  style="position:absolute; height:25px; width:25px; border:0px;"/>

            <p style="margin-left:35px; color:black; text-align:left; text-decoration:none;">
            {{dir_i.f}}
            </p>
        </a>
        
    </div>
    <div class="col-3" style="margin-bottom:-10px"><p style="margin-left:45px;">{{dir_i.dtc}}</p></div>
    <div class="col-3" style="margin-bottom:-10px"><p style="margin-left:45px;">{{dir_i.dtm}}</p></div>
    <div class="col-3" style="margin-bottom:-10px; "><p style="margin-left:110px;">{{dir_i.size}}</p></div>

    {% endfor %}
</div>

</div>

</section>

{% endblock content %}